@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" );

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    font-family: 'Open Sans', sans-serif;
    width: 90vw;
    max-width: 90vw;
    margin: 0 auto;
}
/* header section */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    margin: 10px;
    padding: 20px;
}
.logo{
    flex: 0 0 calc(25%-3px);
}
.navigation{
    flex: 0 0 calc(50%-3px);
}
.navigation nav{
    display: inline-block;
    list-style: none;
    padding: 5px;
    margin: 5px;
   

}
.navigation ul{
    display: inline-block;
    list-style: none;
}
.navigation li{
    display: inline-block;
    text-transform: capitalize;
    margin-right: 20px;
    text-decoration: none;
}
.navigation li a{
    text-decoration: none;
    color: #242E52;
    font-size: 15px;
}
.navigation li a:hover{
    text-decoration: none;
    color: #F1613B;
    font-size: 15px;
}
.btn-get{
    flex: 0 0 calc(25%-3px);
}
.btn-get button{
    text-transform: capitalize;
    text-decoration: none;
    background-color: #F1613B;
    border: 2px solid #F1613B;
    width: 150px;
    height: 40px;
    border-radius: 20px;
}
.btn-get button:hover{
    background-color: #ffffff;
    transform: scale(1.02);
}
/* end of header section */

/* start of hero section */

.hero{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 10px;
    background-image: url("images/bg-simplify-section-desktop.svg");
}
@media screen and (max-width:480px){
    .hero{
        display: flex;
        flex-direction: column;
    }
}
.hero-detail{
    flex: 0 0 calc(50%-3px);
    padding: 20px;
    margin: 10px;
}
.hero-detail h3{
    color: #242E52;
    font-weight: bolder;
    text-decoration: none;
    font-size: 50px;
}
.hero-detail p{
    color: #9A9DAB;
}
.hero-img{
    flex: 0 0 calc(50%-3px);
}
.hero-img img{
    width: 100%;
    max-width: 100%;
    height: auto;
}
/* end of hero section */
/* start of testmonials */
.testmonials{
    margin: 30px;
}
.container-test{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
}
@media screen and (max-width:480px){
    .container-test{
        display:flex;
        flex-direction: column;

    }
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.heading h6{
    color: #242E52;
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
}
.personnel{
    flex: 0 0 calc(100%/3 - 3px);
    background-color: #D8D8DD;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 200px;

}
.person-img img{
    margin-top: -50px;
    width: 100px;
    height: 100px;
    text-align: center;
}
.name {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.name h6{
    text-transform: capitalize;
    color: #242E52;
    font-size: 20px;
    text-decoration: none;
}
.name p{
text-decoration: none;
color: grey;
text-align: center;

}
.get-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.get-btn button{
    text-transform: capitalize;
    text-decoration: none;
    background-color: #F1613B;
    border: 2px solid #F1613B;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin: 10px;
}
.get-btn button:hover{
    background-color: #ffffff;
    transform: scale(1.02);
}